@using DotNetNuke.Web.MvcPipeline.Containers
@model DotNetNuke.Web.MvcPipeline.Models.ContainerModel

<div id="module-@Model.ModuleConfiguration.ModuleID" class="to-shine-background-container py-4 py-lg-5">
  <div class="container-fluid">@Html.Content()</div>
</div>
