@using DotNetNuke.Web.MvcPipeline.Containers
@model DotNetNuke.Web.MvcPipeline.Models.ContainerModel

<div id="module-@Model.ModuleConfiguration.ModuleID" class="to-shine-background-container">
  <div class="to-shine-background-container">@Html.Content()</div>
</div>
